body{
        background-color: aliceblue;
}
.delete {
        display: none;
        
}
.row{
        text-align: center;
        justify-content: space-between;      
}
#Item{
        width: 50%;
        font-size: 25px;
        padding-left: 15px;
        font-family: cursive;
        border:1px solid black;
        border-radius: 10px;
}
ul {
        text-align: left;
        margin-top: 20px;
}
li {
        font-family: cursive;
        list-style: none;
        padding: 10px 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
        border: 2px solid #025f70;
        border-radius: 5px;
        margin-bottom: 10px;
        background:powderblue;
        transition: 1s;

}
li:hover{
        background-color: #f4511e;
        counter-reset: black;
}
#btn{
        font-size:30px;
        cursor: pointer;
        background-color: aliceblue;
        border: 1px solid aliceblue;
        transition: 1s;
}
#btn:hover{
        background-color: #3e8e41;
        color: white;
}
li > button {
        cursor: pointer;
        font-weight: normal;
        background: none;
        border: none;
        float: right;
        color:black;
        font-weight: 800;
        justify-content: space-between;
        transition: 1s;
}
li > button:hover {
        background-color: #3e8e41;
        color: white;
      }
#p1{
        color:blue;
        font-size: 25px;
        justify-content: space-between;
}
#p2{
        color: green;
        font-size: 25px;
        justify-content: space-between;
}
#p3{
        color: red;
        font-size: 25px;
        justify-content: space-between;
}
h1{
        font-size: 50px;
}